.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.gridContainer{
	display: grid;
	grid-template-columns: 120px auto;
}

.gridColOne{
	grid-column: 1;
}

.gridColTwo{
	grid-column: 2;
	font-size: 1.3em;
	height: 50px;
}