.bottom{
	left: 0;
	bottom: 0;
	width: calc(100%);
	text-align: center;
	position: fixed;
	padding: 20px;
	background: #258722;
}

.bottom button{
	display: block;
	width: 100%;
	background-color: #1a5c18; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
  .bottom button:hover{
	background-color: #113d0f; /* Blue background */

  }