.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.weekdayLabel {
	font-size: 1.5em;
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	line-height: 40px;
	margin-top: -30px;
}

.weekdayCheck{
	width: 40px;
	height: 40px;
	margin-right: 20px;
}
