.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.stars {
	width: 330px;
	display: inline-block;
  }
  .starInput { display: none; }
  .starLabel {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
  }
  .starInput:checked ~ .starLabel:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
  }
  .starInput_5:checked ~ .starLabel:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
  }
  .starInput_1:checked ~ .starLabel:before { color: #F62; }
  .starLabel:hover { transform: rotate(-15deg) scale(1.3); }
  .starLabel:before {
	content: '\f005';
	font-family: FontAwesome;
  }

  .starInput_0:checked ~ .starLabel_0:before {
	  color: rgb(212, 60, 22);
	  content: '\f165';
  }
  .starInput_0:not(:checked) ~ .starLabel_0:before {
	color: #444;
	content: '\f165';
	text-shadow: none

}
