.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.gridContainer{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

.gridColOne{
	grid-column: 1;
}

.gridColTwo{
	grid-column: 2;
	font-size: 1.3em;
	height: 50px;
}

 /* Style buttons */
 .btn {
	background-color: #258722; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 26px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #1b6318;
  } 