.listView {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
 /* Style buttons */
 .btn {
	background-color: #258722; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #1b6318;
  } 

  .gridContainer{
	  display: grid;
	  grid-template-columns:  auto 60px 60px;
	  padding: 10px;
	  gap: 10px;
  }

  .btnRight {
	right: 20px;
	position: fixed;
	bottom: 20px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
  }